/* * {
  border: 1px red solid;
} */
.homepage {
  width:100vw;
  padding: 0px;
  margin: 0px;

}

.pageTitle {
  margin-right: auto;
  margin-left: auto;
 width: 450px;
 padding: 0px;
}
.pageTitle img {
max-width: 300px;
} 
.ezlogo {
  position: relative;
  right: -80px;
  padding-top: 10px;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 5px;
}


.graphsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding: 10px;
  width: 95vw;
}

.metrics {
  background-color: rgb(238, 238, 248);
  border: 2px rgb(201, 201, 201) solid;
  margin-right: auto;
  margin-left: auto;
}

.donut {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: auto;
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  background-color: white;



}

.description {
  font-size: smaller;
  padding: 3px;
}

.barChart {
  display: flex;
  height: 350px;
  flex-direction: column;
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px;
  margin: 5px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  flex-basis: 60%;
  background-color: white;
  max-width: 95vw;

}

.dateButton {
  width: fit-content;
  padding: 5px;
  background-color: orange;
  border-radius: 10px;

}

.imageBanner {
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px;
  height: 350px;
  flex-basis: 250px;
  margin: 5px;
  padding: 20px;
  background-color: white;


}


.totalRentalsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 238, 248);
  border: 2px rgb(201, 201, 201) solid;

  
}

.title {
  height: 20%;
}

/* .description {
 margin-top: auto;

 
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}