.App {
  text-align: center;
}
/* * {
  border: 1px red solid;
} */
.homepage {
  max-width: 95vw;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.graphsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 95vw;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding: 10px;
}
.donut {
  width:350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: auto;
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px; 
 margin: 5px;
padding: 10px;

  

}
.description {
  font-size: smaller;
  padding: 3px;
}
.barChart {
  display: flex;
  flex-direction: column;
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  justify-content: center;
  min-width: 350px;
  flex-basis: 60%;

}
.imageBanner {
  border: 2px rgb(255, 183, 0) solid;
  border-radius: 15px;
    height:550px;
    flex-basis: 350px;
    margin: 5px;
    padding: 10px;

}


.totalRentalsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;

  padding: 10px;
  max-width: 95vw;
    margin-right: auto;
      margin-left: auto;
}
.title {
 height:20%;
}
/* .description {
 margin-top: auto;

 
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
